<!DOCTYPE html>
<html>
  <head>
    <title>Fundable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-nova h-screen">
    <% if user_signed_in? and controller_name  == 'groups' and controller.action_name == 'index' %>
      <%= render "layouts/nav" %>
    <% elsif controller_name != 'splash' and controller_name  != 'sessions' and controller_name  != 'registrations'%>
      <%= render "layouts/other_nav" %>
    <% end %>
  <% if controller_name == "groups" and controller.action_name == "index" %>
    <%= render "layouts/sidebar" %>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
